---
const contactInfo = [
  { label: "contacto@conect-arte.mx", contact: "mailto:contacto@conect-arte.mx", icon: "mail.svg" },
  { label: "+52 (221) 123-8901", contact: "https://wa.me/522211238901", icon: "whatsapp.svg" },
];

const socialLinks = [
  { name: "Facebook", url: "#", icon: "facebook.svg" },
  { name: "Twitter", url: "#", icon: "twitterx.svg" },
  { name: "Instagram", url: "https://www.instagram.com/alianza.teatral.conec_arte/", icon: "instagram.svg" },
];
---

<footer class="footer">
  <div class="footer-container">

    <div class="contact-info">
      <h3>Contáctanos</h3>
      <ul class="contact-cont">
        {contactInfo.map((item) => (
          <li class="contact-item link-item">
          <a href={item.contact.replace( 'mailto:', '' )} target="_blank" rel="noopener noreferrer">
            <img src={`/icons/${item.icon}`} alt={`Icono de ${item.contact}`} />
            {item.label}
          </a>
          </li>
        ))}
      </ul>
    </div>


    <div class="social-links">
      <h3>Síguenos</h3>
      <ul class="social-cont">
        {socialLinks.map((link) => (
          <li class="social-items link-item">
            <a href={link.url} target="_blank" rel="noopener noreferrer">
              <img src={`/icons/${link.icon}`} alt={`Logo de ${link.name}`} />
            </a>
          </li>
        ))}
      </ul>
    </div>

    <div class="copyright">
      <p>&copy; 2024 Alianza Teatral Conect-arte</p>
    </div>

  </div>
</footer>

<style lang="sass">
.footer
  background-color: rgb(90, 71, 47)
  backdrop-filter: blur(50px)
  box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.2)
  color: #fff
  margin: 0
  padding: 0.2em

.contact-info
  width: 17em
  margin: 0
  margin-top: 2em
  margin-left: 15%
  padding: 0
  h3
    text-align: center

.contact-cont
  padding: 0
  margin: 0
  margin-top: -1em
  margin-left: 1.4em

.contact-item
  padding-bottom: 0.4em
  font-size: 14px

.social-links
  position: fixed
  width: 10em
  margin: 0
  margin-right: 20%
  padding: 0
  top: 1.8em
  right: 10px
  h3
    text-align: center

.social-cont
  padding: 0
  margin: 0
  margin-top: -0.4em
  text-align: center

.social-items
  display: inline
  margin-left: 1em

img
  width: 24px
  height: 24px
  margin-right: 0.5em

a
  color: white
  text-decoration: none

ul
  list-style: none

.copyright
  margin: 0
  padding: 0
  text-align: center
  font-size: 12px
  font-style: normal
  color: rgba(255,255,255,0.6)

.link-item:hover
  filter: drop-shadow(0px 0px 1px rgba(255,255,255,0.8))

@media (max-width: 720px)
  .contact-info
    margin-left: 5%

  .social-links
    margin-right: 8%
  
@media (max-width: 500px)
  .contact-info
    margin: auto
    margin-bottom: 20px

  .contact-cont
    margin-left: 2em

  .social-links
    position: static
    margin: auto
    margin-bottom: 20px

</style>
